/* NORMALIZE */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    --color-oscuro: #522640;
    --color-claro: #ecf0f1;
}
/* limpieza elementos clave */
ul {
    list-style: none;
}
a:link,
a:visited {
    text-decoration: none;
}
/* fuente importada */
@font-face{
    font-family: halloweenNieto;
    src: url(./../assets/img/halloween.woff2);

}
/* 2 fuentes*/
/* ESCALABILIDAD */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
h1{
    font-size: 3rem;
}
h2, h3 {
    font-size: 2.5rem;
    font-family: 'Georgia', serif;
    color: var(--color-oscuro);
}
p,li{
    font-size: 1.8rem;
}
/* header */
header {
    display: flex;
    color: white;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    padding: 2rem;
    background-image: url(./../assets/img/headerFondo.jpg);
    opacity: 1;
}

header p {
    font-size: 2rem;
    font-family: halloweenNieto,sans-serif;
    color:rgb(218, 21, 21);
}
header h1{
    color: -var(--color-claro);
    font-size: 3rem;
    margin-bottom: 1rem;

}
/* intento de lo q me dijo paqui */
.header-contenido {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    text-align: center;
}

/* footer */
footer{
    display: flex;
    justify-content: center;
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    /* text-align: center; */
    
}
footer a{
    color: var(--color-claro)
}

/* menu con efecto sacado del hamburger */
nav {
    background-color: var(--color-oscuro);
    padding: 3rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    font-weight: bold;
    position: relative;
    padding: 5px ;
    transition: color 0.3s ease;
}

nav a::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

nav a:hover {
    color: yellow;
}

nav a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}



/* seccion sobre mi */
#sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-claro);
    padding: 2rem;
    width: 50%;
    margin: auto;
}


/* animacion de rgb en pruebas */
/* #sobre-mi:hover {
    animation: ledGlow 2s infinite ;
} */

#sobre-mi img {
    width: 12rem;
    height: 12rem; 
    border-radius: 50%;
    border:  solid var(--color-oscuro); 
    object-fit: cover; 
    /* para redimensionar bien la imagen y que no se vea aplastada */
    margin: 1rem;
    transition: transform 0.5s ease;
}

#sobre-mi img:hover {
    transform: scale(1.2);
}

/* Animacion de rgb en pruebas */
/* @keyframes ledGlow {
    0%   { box-shadow: 0 4px 12px rgba(0,0,0,0.1),  0 0 3px #ff0055; }
    25%  { box-shadow: 0 4px 12px rgba(0,0,0,0.1),  0 0 3px #00aaff; }
    50%  { box-shadow: 0 4px 12px rgba(0,0,0,0.1),  0 0 3px #00ff9d; }
    75%  { box-shadow: 0 4px 12px rgba(0,0,0,0.1),  0 0 3px #ffaa00; }
      100% { box-shadow: 0 4px 12px rgba(0,0,0,0.1),  0 0 3px #ff00cc; }
} */

/* galeria */

#proyectos h2 {
    margin-bottom: 5rem;
    margin-top: 4rem;
    color: var(--color-oscuro);
    text-align: center;
}

.proyectos-lista {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}


@media (min-width: 600px) {
    .proyectos-lista {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.proyectos-lista figure {
    width: 100%;
    max-width: 340px;
    background: white;
    padding: 2rem;
    border-radius: 1rem; 
    box-shadow: 2px 0px rgba(255, 69, 0, 0.15);   
    transition: transform 0.25s ease;
}

.proyectos-lista figure:hover {
    transform: translateY(-5px);
}

.proyectos-lista img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}
.proyectos-lista figcaption {
    font-size: 2rem;
    color: var(--color-oscuro);
}


/* responsive cambio del menu a evertical */
@media (max-width: 600px) {
  nav ul {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  }
}